extends ../layout
block content
  div(class="panel-body") Создание курса
  form(role="form", method="post", id="createCourse", action='/courses/add')
    div(class="form-group")
      label Название
      input(class="form-control", type="text", name='name', placeholder="Enter name", form="createCourse")
    div(class="form-group")
      label Дата начала
      input(class="form-control", type='date', name='beginAt', max='2100-12-31', min='1990-01-01', form="createCourse")
    div(class="form-group")
      label Дата окончания
      input(class="form-control", type='date', name='endAt', max='2100-12-31', min='1990-01-01', form="createCourse")
    div(class="btn-group", role="group")
      button(class="btn btn-success", type="submit", form="createCourse") Создать
      button(class="btn btn-default", type="button", onclick = "window.history.back()", form="createCourse") Отменить

