extends ../layout
block content
  div(class="panel-body") Редактирование курса
  form(role="form", method="post", id="editCourse", action='/courses/#{data.id}/edit')
    div(class="form-group")
      label Название
      input(class="form-control", value="#{data.name}", type="text", name='name', form="editCourse", placeholder="Enter name")
    div(class="form-group")
      label Дата начала
      input(class="form-control", value="#{beginAt}", type='date', name='beginAt', max='2100-12-31', min='1990-01-01', form="editCourse")
    div(class="form-group")
      label Дата окончания
      input(class="form-control", value="#{endAt}", type='date', name='endAt', max='2100-12-31', min='1990-01-01', form="editCourse")
    div(class="btn-group", role="group")
      button(class="btn btn-success", type="submit", form="editCourse") Изменить
      button(type="button", class="btn btn-danger", data-toggle="modal", data-target="#deleteModal") Удалить
      button(class="btn btn-default", onclick = "window.history.back()", form="editCourse") Отменить

    include ./modalDeleteWindow.jade