extends ../layout
block scripts
    script(src="/_views/courses/courseElem.jade")
    script(src="/_views/courses/coursePeriod.jade")
block content
    script(src="/javascripts/test.js")
    div(class="panel-body") Курсы





