extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 2011-2012
  ul(class="list-group")
      li(class="list-group-item") Предмет 1
      li(class="list-group-item") Предмет 2
      li(class="list-group-item") Предмет 3
      li(class="list-group-item") Предмет 4
  h1 2012-2013
  ul(class="list-group")
      li(class="list-group-item") Предмет 1
      li(class="list-group-item") Предмет 2
      li(class="list-group-item") Предмет 3
      li(class="list-group-item") Предмет 4
  h1 2013-2014
  ul(class="list-group")
      li(class="list-group-item") Предмет 1
      li(class="list-group-item") Предмет 2
      li(class="list-group-item") Предмет 3
      li(class="list-group-item") Предмет 4